body {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.center {
  text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  position: relative;
  font-weight: 700;
  line-height: 26px;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0 72px;
  list-style: none;
}

.site-navigation li {
  width: 240px;
  padding: 15px 0;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.right {
  text-align: right;
}

.reasons-list,
.features-list,
.hotels-filter ul,
.main-footer ul,
.sorting ul,
.hotels-list {
  list-style: none;
}

.site-navigation a,
.hashtag {
  color: #000000;
}

.site-navigation a:hover,
.hashtag:hover {
  color: #81b3d2;
}
.site-navigation a:focus,
.hashtag:focus {
  color: rgba(0, 0, 0, 0.3);
}

.current a,
.current a:hover,
.current a:focus {
  color: #766357;
}

.welcome {
  margin-bottom: 60px;
  padding-top: 76px;
  padding-bottom: 80px;
  background-color: #81b3d2;
  background-image:
    url("../img/mask.png"),
    url("../img/welcome_background.jpg");
  background-position: bottom, center -56px;
  background-repeat: no-repeat;
}

.welcome img {
  vertical-align: bottom;
}

.text-block p {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 300px;
  padding-right: 300px;
}

.reasons {
  margin-bottom: 55px;
}

.text-block {
  margin-bottom: 53px;
}

.header {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.reasons h2 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}

.reasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reasons-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  padding-top: 48px;
  padding-bottom: 58px;
  background-color: #eeeeee;
}

.reasons-item h3 {
  margin: 0;
  margin-bottom: 24px;
  padding-left: 120px;
  padding-right: 120px;
  font-size: 21px;
  color: #000000;
}

.reasons-list p {
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
}

p.reason-number {
  margin-bottom: 20px;
}

.reason-number::before,
.reason-number::after {
  content: " — ";
}

.marked {
  width: 1200px;
  color: #ffffff;
  background-color: #81b3d2;
}

.marked h3 {
  color: #ffffff;
}

.img-right {
  padding-right: 800px;
  background-image: url("../img/reason_background_01.jpg");
  background-position: right;
  background-repeat: no-repeat;
}

.img-left {
  padding-left: 800px;
  background-image: url("../img/reason_background_02.jpg");
  background-position: left;
  background-repeat: no-repeat;
}

.img-left p {
  padding-left: 40px;
  padding-right: 40px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.features-item {
  width: 400px;
  padding-top: 162px;
  padding-bottom: 83px;
  color: #333333;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center 60px;
}

.features-item h3 {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.housing {
  background-image: url("../img/housing.svg");
  background-size: 75px 72px;
}

.food {
  background-image: url("../img/food.svg");
  background-size: 74px 70px;
}

.souvenirs {
  background-image: url("../img/souvenirs.svg");
  background-size: 64px 76px;
}

.features-item h3 {
  font-size: 21px;
  color: #000000;
}

p.appointment-header {
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.appointment-form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  margin-left: -284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 568px;
  padding: 55px;
  text-align: left;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.appointment-item {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.appointment-form p:last-of-type {
  margin-bottom: 54px;
}

.appointment-item label {
  display: inline-block;
  width: 112px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

label.children {
  width: 65px;
}

.appointment-item input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 346px;
  padding: 7px 12px;
  margin-left: -4px;
  font: inherit;
  font-weight: 700;
  background-color: #f2f2f2;
  border: 2px solid rgba(0,0,0,0);
  text-transform: uppercase;
}

input.count {
  width: 114px;
  text-align: center;
}

.appointment-item input:hover {
  background-color: #ebebeb;
}

.appointment-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.appointment-item button {
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 38px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.mozilla-fix {
  position: absolute;
  left: 8px;
  top: 8px;
}

.appointment-item button:hover path {
  fill: #000000;
}

.appointment-item button:focus path {
  fill: #81b3d2;
}

button.minus {
  right: 76px;
}

.minus::before,
.plus::before,
.plus::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 14px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.plus::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.minus:hover::before,
.plus:hover::before,
.plus:hover::after {
  background-color: #000000;
}

.minus:focus::before,
.plus:focus::before,
.plus:focus::after {
  background-color: #81b3d2;
}

.search-button {
  position: relative;
  padding: 16px;
}

.map {
  position: relative;
  min-height: 594px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.button,
.social-button {
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover,
.social-button:hover {
  background-color: #669ec0;
}

.button:focus,
.social-button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.big {
  width: 100%;
  font-size: 21px;
}

.appointment a {
  display: block;
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.brown {
  background-color: #766357;
}

.brown:hover {
  background-color: #604e43;
}

.brown:focus {
  background-color: #503e33;
}

.hotels-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 27px 72px 32px;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/filter_background.jpg");
  background-repeat: no-repeat;
  background-position-y: -60px;
}

.hotels-filter fieldset {
  width: 255px;
  margin: 0;
  padding: 0;
  border: none;
}

.hotels-filter ul {
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 24px;
  padding-left: 40px;
}

.filter-option-list li:last-child {
  margin-bottom: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -1px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
}

.filter-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -1px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
}

.hotels-filter legend {
  margin-bottom: 26px;
  font-size: 16px;
  font-weight: 700;
}

.hotels-filter input {
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.filter-range {
  margin-left: auto;
}

.filter-range fieldset {
  width: 318px;
  margin-left: auto;
}

.filter-range legend {
  margin-bottom: 10px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 33px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 22px 72px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  border-bottom: 1px solid #e5e5e5;
}

.sorting .header {
  margin: 0;
  margin-right: 50px;
}

.sorting-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 40px;
  padding: 0;
}

.sorting-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 35px;
}

.sorting-order a:hover path{
  fill: #000000;
}

.sorting-order a:focus path,
a.current-sorting-order path,
a.current-sorting-order:hover path,
a.current-sorting-order:focus path {
  fill: #81b3d2;
}

.sorting-type {
  margin-right: 30px;
}

.sorting-type a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type a:hover {
  color: #81b3d2;
}

.sorting-type a:focus {
  color: #000000;
  border-bottom: none;
}

.active a {
  color: #81b3d2;
  border-bottom: none;
}

.hotels-list {
  margin: 0;
  padding: 0;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;
  border-bottom: 1px solid #e5e5e5;
}

.column-2 {
  margin-left: 30px;
}

.column-3 {
  margin-left: auto;
  text-align: right;
}

.column-2 h3 {
  margin-top: -4px;
  margin-bottom: 8px;
  padding: 0;
}

.column-2 p {
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
}

.column-3 p {
  margin: 0;
}

.column-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  min-width: 110px;
  margin-right: 6px;
  padding-top: 1px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.brown.catalog-button {
  margin-left: -4px;
}

.info span {
  display: inline-block;
  min-width: 110px;
  margin-right: 6px;
}

a.hotel-name {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
}

a.hotel-name:hover {
  color: #81b3d2;
}

a.hotel-name:focus {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-rating {
  padding: 3px 14px;
  background-color: #f2f2f2;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 36px 0;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.footer-transparent {
  position: absolute;
  margin-top: -120px;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer div {
  width: 400px;
}

.hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.main-footer ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus {
  background-color: #5496bd;
}

.social-button:focus path {
  opacity: 0.3;
}

.footer-copyright p {
  display: inline-block;
  margin: 0px;
  margin-right: 5px;
  vertical-align: middle;
}

.footer-copyright a {
  display: inline-block;
  vertical-align: middle;
  line-height: 0px;
}

.footer-copyright a:hover path {
  fill: #81b3d2;
}

.footer-copyright a:focus path {
  fill: #bdbbbc;
}
