body {
  margin: 0px;
  padding: 0px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}

.center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.main-navigation {
  position: relative;

  font-weight: 700;
  line-height: 26px;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -69px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0 72px;

  list-style: none;
}

.site-navigation li {
  width: 240px;
  padding: 15px 0;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.right {
  text-align: right;
}

.reasons-list,
.features-list,
.hotels-filter ul,
.main-footer ul,
.sort ul,
.hotels-list {
  list-style: none;
}

.site-navigation a,
.hashtag {
  color: #000000;
}

.site-navigation a:hover,
.hashtag:hover {
  color: #81b3d2;
}
.site-navigation a:focus,
.hashtag:focus {
  color: rgba(0, 0, 0, 0.3);
}

.current a,
.current a:hover,
.current a:focus {
  color: #766357;
}

.welcome {
  margin-bottom: 60px;
  padding-top: 76px;
  padding-bottom: 80px;

  background-color: #81b3d2;
  background-image:
    url("../img/mask.png"),
    url("../img/welcome_background.jpg");
  background-position:bottom center, top center;
  background-repeat: no-repeat;
  background-size: 100% 57px, 100%;
}

.reasons {
  margin-bottom: 55px;
}

.reasons .text-block {
  margin-bottom: 56px;
}

.header {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.reasons h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.reasons-item {
  box-sizing: border-box;
  width: 400px;
  padding-top: 44px;
  padding-bottom: 44px;

  background-color: #eeeeee;
}

.reasons-item h3 {
  font-size: 21px;
  color: #000000;
}

.marked {
  width: 1200px;

  color: #ffffff;

  background-color: #81b3d2;
}

.marked div {
  margin: 0;
}


.marked h3 {
  color: #ffffff;
}


.img-right {
  background-image: url("../img/reason_background_01.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 67%;
}

li.img-right {
  padding-right: 67%;
}

.img-left {
  background-image: url("../img/reason_background_02.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 67%;
}

li.img-left {
  padding-left: 67%;
}

.reason-number::before,
.reason-number::after {
  content: " — ";
}

.features-list {
  display: flex;

  margin: 0;
  padding: 0;
}

.features-item {
  width: 400px;
  padding-top: 124px;
  padding-bottom: 85px;

  color: #333333;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center 60px;
}

.housing {
  background-image: url("../img/housing.svg");
  background-size: 75px 72px;
}

.food {
  background-image: url("../img/food.svg");
  background-size: 74px 70px;
}

.souvenirs {
  background-image: url("../img/souvenirs.svg");
  background-size: 64px 76px;
}

.features-item h3 {
  font-size: 21px;
  color: #000000;
}

.appointment {
  padding-bottom: 78px;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.appointment .text-block {
  margin-bottom: 50px;
}

.appointment-header {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.search-hotels-form {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 568px;
  margin: 0 auto;
  padding: 55px;

  background-color: white;
}

.appointment-item label {
  color: #000000;
  font-weight: 700;
  line-height: 26px;
}

.appointment-item input {
  font: inherit;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  text-transform: uppercase;
}

.appointment-item input:hover {
  background-color: #ebebeb;
}

.appointment-item input:focus {
  background-color: white;
  border: 2px solid #e5e5e5;
}

/*Стили для кнопок start--*/

.button,
.social-button {
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
}

.button:hover,
.social-button:hover {
  background-color: #669ec0;
}

.button:focus,
.social-button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.big {
  width: 100%;

  font-size: 21px;
}

.appointment a {
  display: block;
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.brown {
  background-color: #766357;
}

.brown:hover {
  background-color: #604e43;
}

.brown:focus {
  background-color: #503e33;
}

/*--end*/

.hotels-filter {
  display: flex;
  padding: 30px 72px;

  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/filter_background.jpg");
  background-repeat: no-repeat;
  background-position: top, center;
  background-size: 100%;
}

.hotels-filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.checkbox-list {
  width: 255px;
}

.filter-price {
  width: 318px;
  margin-left: auto;
}

.hotels-filter legend {
  font-size: 16px;
  font-weight: 700;
}

.hotels-filter input {
  font: inherit;
  color: white;
  background-color: transparent;
  border: none;
}

.hotels-filter button {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: 2px solid white;
  text-transform: uppercase;
}

.hotels-filter button:hover {
  color: black;
  background-color: white;
}

.sort {
  display: flex;
  align-items: center;
  padding-left: 6%;
  padding-right: 6%;

  font-size: 12px;
  line-height: 18px;
  color: #000000;

  border-bottom: 1px solid #e5e5e5;
}

.sort .header {
  padding-right: 50px;
}

.sort-attribute {
  display: flex;
  margin: 0;
  margin-right: 40px;
}

.sort-order {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 35px;
}

.sort-type {
  margin-right: 30px;
}

.sort-type a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-type a:hover {
  color: #81b3d2;
}

.sort-type a:focus {
  color: black;
  border-bottom: none;
}

.active a {
  color: #81b3d2;
  border-bottom: none;
}

.hotels-list {
  margin: 0;
  padding: 0;
}

.hotel-item {
  display: flex;
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;

  border-bottom: 1px solid #e5e5e5;
}

.column-2 {
  margin-left: 30px;
}

.column-3 {
  margin-left: auto;
  text-align: right;
}

.column-2 h3 {
  margin: 0;
  padding: 0;
}

.more {
  display: inline-block;
  width: 110px;
  text-align: center;
}

.booking {
  display: inline-block;
  width: 142px;
  margin-left: 6px;
  text-align: center;
}

.info span {
  display: inline-block;
  width: 110px;
  margin-right: 6px;
}

a.hotel-name {
  color: black;
  font-size: 21px;
  line-height: 26px;
}

a.hotel-name:hover {
  color: #81b3d2;
}

a.hotel-name:focus {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-rating {
  background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  align-items: center;
  margin: 0 auto;

  color: #000000;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer div {
  width: 400px;
  text-align: center;
}

.hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
